.navbar{
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999 !important;
}
.center-content{
    padding: 10px 100px;
}

.navbar-nav .nav-item{
    padding: 0 10px;
}

.start-btn-color{
    background-color: orange;
    color: white;
}

.start-btn-color:focus, .start-btn-color:hover {
    background-color: green;
    color: white;
}


