.text-input-box {
  width: 100%;
  margin: 0 40px;
  position: relative;
}

.suggestions-box{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid sliver;
    font-size: 1.1rem;
    top: 44px;
    border-radius: 4px;
    list-style-type: none; 
    border: 1px solid rgba(188, 184, 184, 0.619);
    z-index: 9999 !important;
}

.suggestions-box > li{
  padding: 6px 10px;
}

.suggestions-box > li:hover{
  background-color: rgba(188, 184, 184, 0.263);
}
