.main-div-spd {
  padding-top: 60px;
  position: relative;
  overflow-x: hidden;
}

.sidebar-search-product {
  position: fixed;
  left: 0;
  border-right: 1px solid rgba(192, 192, 192, 0.484);
  height: 100vh;
  overflow-y: auto;
}

.content-box-spd {
  margin-left: 450px;
}

.content-box-spd {
  margin-left: 450px;
}

/* Tablet screens */
@media (max-width: 1024px) {
  .content-box-spd {
    margin-left: 300px;
  }
}

/* Mobile screens */
@media (max-width: 768px) {
  .sidebar-search-product {
    position: relative;
    width: 100%;
    height: auto;
    border-right: none;
  }
  .content-box-spd {
    margin-left: 0;
  }
}